<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Entries Tree View</title>

  <link
    rel="stylesheet"
    type="text/css"
    href="https://unpkg.com/@contentstack/ui-extensions-sdk@2.2.3/dist/ui-extension-sdk.css"
    crossorigin="anonymous"
  >

  <style>
    html {
      height: 100%;
    }

    .DashboardItem {
      color: #222;
      min-height: 100%;
      padding: 1.875rem;
      padding-top: 0;
    }

    .DashboardItem > *:first-child {
      border-top: 1px solid #edf1f7;
    }

    .leaf {
      cursor: default;
      padding: 8px 0;
      padding-inline-start: 10px;
    }

    .leaf,
    details {
      border-bottom: 1px solid #edf1f7;
    }

    .leaf .leaf,
    .leaf details,
    details .leaf,
    details details {
      border: 0;
    }
    
    summary ~ details,
    summary ~ .leaf span {
      cursor: default;
      padding-inline-start: 24px;
    }
    
    summary {
      cursor: pointer;
      padding: 8px 0;
      padding-inline-start: 8px;
    }
  </style>
</head>

<body class="DashboardItem">
  {{ define "renderEntry" }}
    {{ if .children }}
      <details>
        <summary>{{ .title }}</summary>
        {{ range .children }}
          {{ template "renderEntry" . }}
        {{ end }}
      </details>
    {{ else }}
      <div class="leaf">
        <span>{{ .title }}</span>
      </div>
    {{ end }}
  {{ end }}

  {{ range $key, $value := .Entries }}
    {{ if eq $value.parent "" }}
      {{ template "renderEntry" $value }}
    {{ end }}
  {{ end }}
</body>

</html>
